<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container">
    <h2>Thêm Thông Tin</h2>
    <br>
    <form action="/products/insert" method="POST" enctype="multipart/form-data">
          <div class="form-group">
        <label for="maso">Ma So:</label>
        <input type="text" class="form-control" id="maso" placeholder="Enter product name" name="maso"
      </div>
      <div class="form-group">
        <label for="name">Tên Sản Phẩm:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter product name" name="name"
          onchange="validationName()" required>
        <p id="productNameError"></p>
      </div>
      <div class="form-group">
        <label for="price">Giá:</label>
        <input type="text" class="form-control" id="price" placeholder="Enter Price" name="price"
          onchange="validationSDT()" required>
        <p id="productSDTError"></p>
      </div>
      <div class="form-group">
        <label for="img">Ảnh:</label>
        <input type="file" required class="form-control" placeholder="Enter image" id="img" name="img">
      </div>
      <div>
        <img class="d-none" width="100" height="50" id="showimg">
      </div>
      <div class="form-group">
        <label for="ngay">Ngày:</label>
        <input type="date" class="form-control" id="ngay" placeholder="Enter product name" name="ngay"
          onchange="validationDate()" required>
        <p id="productDateError"></p>
      </div>
      <div class="form-group">
        <label for="sanpham">Loại</label>
        <select class="form-control" id="sanpham" name="sanpham">

          {{#each sanpham}}
          <option value="{{this._id}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>
      <button disabled id="btn" type="submit" class="btn btn-primary">submit</button>
    </form>
  </div>

  <script>
    var isName=false,isSDT=false,isDate=false 

    function validationName() {
      let value = document.getElementById('name').value
      if (!value || value.length === 0 || value.length > 100) {
        document.getElementById('productNameError').innerText = 'productNameError'
        //document.getElementById("btn").disabled=true
        isName=false

      }else{
        document.getElementById('productNameError').innerText = ''
        isName=true
      }
      validateForm()
    }
    function validationSDT() {
      let value = document.getElementById('price').value
      if (!value || value.length < 0 || value.length > 12) {
        document.getElementById('productSDTError').innerText = 'productSDTError'
        isSDT=false
      } else {
        document.getElementById('productSDTError').innerText = ''
        isSDT=true
        
      }
      validateForm()
    }

    function validationDate() {
      let date = document.getElementById('ngay').value
      var varDate=new Date(date)
      var today=new Date()
      today.setHours(0,0,0,0)
      if(!varDate || varDate <= today){
        document.getElementById('productDateError').innerText="Loi"
        isDate=false
      }else{
        document.getElementById('productDateError').innerText=""
        isDate=true
        
      } 
      validateForm()
    }

    function validateForm(){
      if(isName ==false || isSDT==false || isDate== false){
        document.getElementById('btn').disabled=true
      }else{
        document.getElementById('btn').disabled=false
      }
    }


    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#showimg').attr('src', e.target.result);
          $('#showimg').removeClass("d-none");
        }

        reader.readAsDataURL(input.files[0]); // convert to base64 string
      }
    }

    $("#img").change(function () {
      readURL(this);
    });
  </script>

</body>

</html>